DATABASE_URL=
PORT=3000
NODE_ENV=development
ACCESS_TOKEN_SECRET=
REFRESH_TOKEN_SECRET=
ACCESS_TOKEN_EXPIRES_IN=15m
REFRESH_TOKEN_EXPIRES_IN=7d
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
CLIENT_URL=http://localhost:5173